﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    
</head>
<body>

    <div class="Home">

        <h1>Home</h1>
        <button type="submit" class="btn"><a href="/Home/Login">Gå till logga in</a></button>

    </div>
    
=======
    <h1>Home</h1>
</head>
<body>
    <a href="/Home/Login">Gå till logga in</a>
>>>>>>> 3b9f1f03be16248ea812f767017b76b5a1195cc3

</body>
</html>